body {
  font-family: Jost;
}
@font-face {
  font-family: Jost;
  src: url(./Fonts/Jost-Regular.ttf);
}
a{
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
thead {
  position: sticky;
  top: 0;
  background-color: white;
}
table td, table th {
  padding: 12px !important;
  border: none !important;
  font-size: 17px !important;
}
table th {
  color: gray !important;
  font-weight: 500 !important;
}
.mantine-Tabs-tabsList{
  border: 0;
}
.mantine-Tabs-tab{
  /* border-bottom: 1px solid black; */
  padding: 15px;
  /* margin: 3px; */
  /* border-radius: 0; */
}
.mantine-Tabs-tabLabel{
  display: flex;
  align-items: center;
}
/* .mantine-mhsckw[data-active]{
  border: 0;
  color: aqua;
} */
