body {
  font-family: Jost !important;
}
@font-face {
  font-family: Jost;
  src: url(./Fonts/Jost-Regular.ttf);
}
a{
  text-decoration: none;
 
}
table {
  border-collapse: collapse;
}
thead {
  position: sticky;
  top: 0;
  background-color: white;
}
table td, table th {
  padding: 12px !important;
  border: none !important;
  font-size: 17px !important;
}
table th {
  color: gray !important;
  font-weight: 500 !important;
}
.mantine-Tabs-tabsList{
  border: 0;
}
label{
  color: #a4a4a4 !important;
  font-size: 16px !important;
 
}
.mantine-Tabs-tab{
  /* border-bottom: 1px solid black; */
  padding: 20px 0px 20px 12%;
  /* margin: 3px; */
  /* border-radius: 0; */
}
.mantine-Tabs-tabLabel{
  display: flex;
  align-items: center;
}
.mantine-8nr514{
  color: #90c300 !important;
  background-color: rgba(144, 195, 0, 0.2);
}
.mantine-8nr514:hover{
  background-color: rgba(144, 195, 0, 0.2);
}

.mantine-cx9mud{
  color: #1f96de !important;
  font-size: 14px;
}
.mantine-1y9bl4z{
  border-radius: 0px;
}
.mantine-ittua2{
  color: #2e2e2e !important;
  font-size: 16px;
}
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */
::placeholder{
  color: rgba(31, 150, 222, 0.3);
  opacity: 1;
  font-size: 12px;
}
.mantine-Select-input  {
  color: #747588 !important;
  font-size: 12px !important;
  border-radius: 0px;
  width: 203px;
  height: 37px;
}
.mantine-1xd4atn:hover{
  background-color: rgba(216, 216, 216, 0.6);
}

.cancelbtn:hover{
  background-color: none;
}
.approvebtn:hover{
  background-color: rgba(144, 195, 0, 0.2);
}
/* .mantine-mhsckw[data-active]{
  border: 0;
  color: aqua;
} */
